body {
  font-family: verdana,tahoma,sans-serif;
}
h1 {
  text-align: center;
}
.loginform {
  display: block;
  width: 50%;
  background: #c0c0c0;
  margin: auto;
  padding: 20px;
}
.container {
  margin: auto;
  padding: 10px;
  width: 50%;
  background: #c0c0c0;
}
.centerlink {
  text-align: center;
}
.aright {
  text-align: right;
  padding: 5px;
}
.sbut {
  margin-top: 10px;
}
.flashcell {
  height: 50px;
  text-align: center;
  vertical-align: top;
}